.foodsCard {
    width: 400px;
    padding: 20px;
    border: 1px solid #212121;

    color: #212121;

    label {
        display: flex;
        justify-content: space-between;

        & + label {
            margin-top: 10px;
        }
    }

    button {
        margin-top: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}